 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This blog is about the work i do as a Software Developer. But from space-time to space-time I also discuss about the life. what came before life, what might come after life. I believe that all life ever lived serve something. some serve themselves, gods, science. you are lucky if you can choose what to serve. for it is all you can do. valar dohaeris</p>
                </div>
                <div class="col-lg-4">
                    <p>so you are here, reading my empty blog and thinking whats this is all About. Well it's just yet another random site you stumbled upon. this blog will be filled LATER when i have space-time. anyways i can try to help you with whatever you want though usually i can't help you. but i will reply to your queries. so do contact me.</p>
                </div>
            </div>
        </div>
    </section>